
body{

  background-color: #F1DDDF;
  	font-family: verdana, sans-serif;
    margin: 0px;
    padding: 0px;
  }


  *{
  	box-sizing: border-box;
  }

  .main-grid{
  	display: grid;
  	/* border: 1px solid blue; */
  	width: 97vw;
  	height: 97vh;
  	grid-template-columns: 200px 400px auto 200px;
  	grid-template-rows: 180px auto 180px;
  }
  .grid-item {
  	overflow: hidden;
  }
  .items-round{
  	padding: 5px;
  	transition: all 1s;
  	border-radius: 20px;
  }

  .items-round:hover{
  	background-color: rgba(17, 93, 192, 0.205);
  }

  .item1{
  	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 2;
  }
  .item2 {
  	grid-column-start: 2;
  	grid-column-end: 4;
  	grid-row-start: 1;
  	grid-row-end: 2;

  }
  .item4 {
  	grid-column: 2 / 3;
  	grid-row: 2 / 3;
  }
  .item3{
  	grid-column: 1 / 2;
  	grid-row: 2 / 3;
  }
  .item5{
  	grid-column: 3 / 4;
  	grid-row: 2 / 3;

  }
  .item4, .item5 {
  	border: 4px solid white;
  	border-radius: 20px;
  	box-shadow: 0px 0px 5px white, 0px 0px 5px white inset;
  }
  .item6{
  	grid-column: 1 / 2;
  	grid-row: 3 / 4;
  }
  .item7{
  	grid-column: 2 / 4;
  	grid-row: 3 / 4;
  	width: 100%;
  	text-align: center;
  	overflow: hidden;
  }
  .item8{
  	grid-column: 4 / 5;
  	grid-row: 3 / 4;
  }

  /*------KUUP----*/
  .koht {
  	width:400px;
  	perspective: 800px;/*mĆ¤Ć¤rab  kauguse vaatajast, uuri seda*/
  	perspective-origin: 50% 100px;/*perspektiivpunkt*/
  }
  .vahekoht
  {
  	/*perspective: 1000px;*//*mĆ¤Ć¤rab  kauguse vaatajast, uuri seda*/
  	perspective-origin: 50% 0;/*perspektiivpunkt*/
  	/*animation: keeruta-X 5s infinite linear;*/
  	transform-style: preserve-3d;
  }

  .kuup {
  	position: relative;
  	width: 200px;
  	transform-style: preserve-3d;
  	margin: 150px auto; /*et oleks ekraani keskel ja 200px Ć¼laservast*/
  	/*transform-origin: 0px 100px 0px;*/
  	/*animation: keeruta-Y 10s infinite linear;*/
  }

  .kuup div {
  	position: absolute;
  	width: 200px;
  	height: 200px;
  	box-shadow: inset 0 0 30px rgba(80,80,80,0.9);
  	/*border: 1px solid black;*/
  	font-size: 16px;
  	font-weight:800;
  	text-align: center;
  	/* line-height: 160px; */
  	color: rgba(0,0,0,0.8);
  	font-family: sans-serif;
  	text-transform: uppercase;
  }


  /*veebi nĆ¤itel iga tahu algtransformatsioonid, et kuup kokku saada*/
  .taga {
  	/*background: rgba(255,0,0,0.2);*/
  	transform: translateZ(-100px) rotateY(180deg);
  }

  .back {
  	background: rgba(255,0,0,0.2);

  }

  .vasakul {
  	/*background: rgba(0,255,0,0.2);*/
  	transform: rotateY(-270deg) translateX(100px);
  	transform-origin: top right;
  }

  .left {
  	background: rgba(0,255,0,0.2);
  }

  .paremal {
  	/*background: rgba(0,0,255,0.2);*/
  	transform: rotateY(270deg) translateX(-100px);
  	transform-origin: center left;
  }

  .right {
  	background: rgba(0,0,255,0.2);
  }

  .ylal {
  	/*background: rgba(255,255,0,0.2);*/
  	transform: rotateX(-90deg) rotateY(180deg) translateY(-100px);
  	transform-origin: top center;
  }

  .top {
  	background: rgba(255,255,0,0.2);
  }

  .all {
  	/*background: rgba(255,0,255,0.2);*/
  	transform: rotateX(90deg) rotateY(180deg) translateY(100px);
  	transform-origin: bottom center;
  }

  .bottom {
  	background: rgba(255,0,255,0.2);
  }

  .ees {
  	/*background: rgba(0,255,255,0.2);*/
  	transform: translateZ(100px);
  }

  .front {
  	background: rgba(0,255,255,0.2);
  }

  .hide{
  	backface-visibility: hidden;
  }

  .taga, .vasakul, .ees, .paremal{
  	padding-top: 50px;
  }
